Southern Hemisphere website/Front-end section/schema1/tlan121-Schema1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="producttype">
        <xs:sequence>
            <xs:element name="Product" type="content" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="content">
        <xs:sequence>
            <xs:element name="Id" type="xs:integer"/>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Description" type="xs:string"/>
            <xs:element name="Price" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="ArrayOfProduct" type="producttype"/>
</xs:schema>