Southern Hemisphere website/Front-end section/schema2/tlan121-Schema2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="producttype">
        <xs:sequence>
            <xs:element name="Product" type="content" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="content">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Description" type="xs:string"/>
            <xs:element name="Price" type="xs:decimal"/>
            <xs:element name="Origins" type="origin"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer"/>
    </xs:complexType>

    <xs:complexType name="origin">
        <xs:sequence>
            <xs:element name="Origin" type="origin-options" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="origin-options"> 
        <xs:restriction base="xs:string">
            <xs:enumeration value="Australia"/>
            <xs:enumeration value="Fiji"/>
            <xs:enumeration value="France"/>
            <xs:enumeration value="India"/>
            <xs:enumeration value="New Zealand"/>
            <xs:enumeration value="South Korea"/>
            <xs:enumeration value="Vietnam"/> 
        </xs:restriction>
   </xs:simpleType>

    <xs:element name="ArrayOfProduct" type="producttype"/>
</xs:schema>